{% extends "test_db/base.html" %}
{% block content %}
     <div class="container">
         <div>
            <table border=2 cellspacing='2' class="text-center">
                <thead>
                    <tr>
                        <th rowspan="2">DATE OF PASS</th>
                        <th rowspan="2">IMAGE</th>
                        <th rowspan="2">IMAGE ID</th>
                        <th rowspan="2">ORBIT NUMBER</th>
                        <th colspan="2">CENTER-EAST</th>
                        <th rowspan="2">LOCATION</th>
                        <th rowspan="2">DOWNLOAD COMPLETE</th>
                        <th rowspan="2">ROLL</th>
                        <th rowspan="2">PITCH</th>
                        <th rowspan="2">YAW</th>
                        <th rowspan="2">CLOUD PERCENTAGE</th>
                    </tr>
                    <tr>
                        <th>LATITUDE</th>
                        <th>LONGITUDE</th>
                    </tr>
                    </thead>
                    <tbody>
                                <tr>
                                    <td
                                <td> <a href=#  onclick="openWindow('dispimage_zoom.jsp?zoom=reset&img_height=50&image_name=TMC_NRD_20081205T130949_1_AN.JPG&p=TMC_NRD_20081205T130949_1_AN','target1');"><img src="../../images/preview.gif" width="18" height="14" alt="preview"/></a></td>
                                <td>TMC_NRD_20081205T130949_1_AN</td>
                                <td>2008-12-05</td>
                                <td><a href=#  onclick="openWindow1('/CHBrowse/3Dimages/LDEM/html/TMC_NRD_20081205T130949_1_AN.html','target2');">DEM_METADATA</a></td>
                                <td>661MB</td>
                         <td>
                        <a href="download.jsp?fileName=ch1_tmc_20081205_I00317_D00317_130949_seg1_NA_dem.zip&passmonth=200812&projection=SELENOGRAPHIC" target="_blank" >Download_DEM</a>
                     </td>
                    <input type="hidden" name="count_value" value=1 />
                    <input type="hidden" name="count_value" value=0 />
                    <input type="hidden" name="band" value=1 />
                    </tbody>
            </table>
         </div>
    </div>
{% endblock content %}